<h1>Update</h1>
<form onsubmit="return updateForm()">
   
    <input type="text" name="name" value="<%=student[0].Name%>" placeholder="Enter name"><br>
    <input type="email" name="email" value="<%=student[0].Email%>" placeholder="Enter email"><br>
    <input type="number" name="mno" value="<%=student[0].Phone%>" placeholder="Enter mobile no"><br>
    <input type="hidden" name="id" value="<%=student[0].id%>">
    <input type="submit" value="submit">
</form>
<div id="response"></div>
<script>
    function updateForm()
    {
        var name=document.getElementsByTagName('input')[0].value;
        var email=document.getElementsByTagName('input')[1].value;
        var mno=document.getElementsByTagName('input')[2].value;
        var id=document.getElementsByTagName('input')[3].value;
        var req=new XMLHttpRequest();
        req.open("POST",'/update-student')
        req.setRequestHeader("Content-type","application/x-www-form-urlencoded");
        req.send("name="+name+"&email="+email+"&mno="+mno+"&id="+id);
        req.onreadystatechange=function()
        {
            if(req.readyState==4 && req.status == 200){
                
                document.getElementById("response").innerText=req.responseText;
                setTimeout(function(){
                    window.open('/student','_self')
                },2000)
            }
        }
        return false;
    }
</script>